# This file will set env vars for development purposes (e.g.: debugging of this Action).

# Mocked event-related environment variables.
# See : https://developer.github.com/v3/activity/events/types
GITHUB_REPOSITORY=
GITHUB_WORKFLOW=
GITHUB_ACTOR=
GITHUB_ACTION=
GITHUB_EVENT_NAME=
# Mocking the event payload
GITHUB_EVENT_PATH=./event-example.json

# Mocked Discord-related environment variables.
# See : https://github.com/Ilshidur/action-discord#environment-variables
DISCORD_WEBHOOK=
DISCORD_USERNAME=OSS 117
DISCORD_AVATAR=https://resize.programme-television.ladmedia.fr/r/670,670/img/var/premiere/storage/images/tele-7-jours/news-tv/oss-117-le-caire-nid-d-espions-c8-le-show-de-jean-dujardin-4484285/90175763-1-fre-FR/OSS-117-Le-Caire-nid-d-espions-C8-Le-show-de-Jean-Dujardin.jpg
DISCORD_MULTILINE=0

NODE_ENV=development
